*{
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb((245), 247, 251);
    color: rgb(93,102,144);
    font-family: 'Montserrat', sans-serif;
}

/* .............................. NAVIGATION SECTION ........................... */
#home {
    height: 100vh;
}

nav > .navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav > .navMenu > .logo {
    flex: 1;
    color: #00204a;
    font-family: 'Josefin Sans', sans-serif;
}

nav > .navMenu > .pageTitle {
    flex: 2;
    display: flex;
    justify-content: center ;
    font-family: 'Adamina', serif;
    color:#97acf0
}

nav > .navMenu > .navButton {
    flex: 1;
    display: flex;
    justify-content:flex-end;
}
nav > .navMenu > .navButton > button {
    padding: 0.7rem;
    border: none;
    cursor: pointer;
    background-color: #4c5a9e;
    border-top-right-radius: 0.7rem;
}
/* .............................. HEADING SECTION ........................................... */

#heading, .box {
    max-width: 25rem;
    margin: 3.125rem auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    position: relative;
    
}
#heading {
    text-align: center;
}
#heading > h3 {
    font-family: 'Adamina', serif;
    font-weight: 600;
    margin-bottom: 1rem;
}
#heading > p {
    font-size: 0.75rem;
    font-weight: 600;   
}
#heading > button {
    padding: 0.7rem;
    font-weight: 600;
    border-radius: 0.7rem;
    border: none;
    background-color: #4c5a9e;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;

}
#heading > button > a {
    text-decoration: inherit;
    color: inherit;
}
/* ................................ FORM SECTION ................................................ */
.box{
    height: 60%;
  
}

.wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
   
    
    
}

.item {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f1f1f1;
    transition: transform 250ms ease-in;
   
  }
.item > p {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
}
ul {
    padding: 0;
    margin: 0;
    color: #00204a;
}
li {
    list-style: none;
    margin: 0.75rem;
    background: #e5e8ee;
    font-weight: 500;
}

input:checked {
    background-color: #95d6a2;
}
input[type="checkbox"] {
    margin: 20px;
}
.item > button{
       position: absolute;
       right: 2rem;
       bottom: 0.5rem;
        width: 40%;
        padding: 0.725rem;
        border-radius: 0.7rem;
        border: none;
        background-color: #4c5a9e;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        
      
}